@import "tailwindcss";

@theme {
  --color-brand: #313ef7;
  --color-brand-dark: #191b6a;
  --color-brand-danger: #a21234;
  --color-brand-gray: #00000080;
  --color-brand-success: #398f3c;
  --color-brand-warning: #fca702;
  --font-figtree: "Figtree", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  font-family: Inter, sans-serif !important;
}

body {
  font-family: Inter, sans-serif !important;
}

.input-box-shadow {
  box-shadow: 0 4px 10px 0 #313ef712 !important;
}

::placeholder {
  color: #00000050 !important;
}

.hero-shadow {
  backdrop-filter: blur(106px);
  border: 1px solid #313ef71a;
  background-color: rgb(49 62 247 / 5%);
}
